{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Trogo
{% endblock %}

{% block body %}

    <div id="loading-screen">
        {# <div class="spinner"></div>
        <p>Chargement...</p> #}
    </div>

    <div id="landing-page">
        <div id="landing-content" class="flex justify-between w-full px-24 items-center">
            <img src="{{ asset('images/spbg1.png') }}" class="max-md:hidden relative h-screen lg:w-[300px]">
            <img src="{{ asset('images/Newlogo.png') }}" alt="Logo" id="landing-logo">
            <img src="{{ asset('images/spbg2.png') }}" class="max-md:hidden relative h-screen lg:w-[300px]">
        </div>
    </div>
    
    <div id="homepage" class="grid grid-cols-1 place-items-center h-full">
        <div class="grid grid-cols-1 place-items-center">
            <h2 class="text-2xl font-dm text-secondary mb-1">Trogo</h2>
            <h1 class="max-md:text-4xl lg:text-6xl font-dm text-secondary mb-3">Your Personnal Helper !</h1>
            <h3 class="text-white">
                <a class="max-lg:border border-white max-lg:p3" href="{{ path('app_home') }}">Accueil</a>
                -
                <a class="max-lg:border border-white max-lg:p3" href="#">Comment faire ?</a>
            </h3>
        </div>
    </div>

    <style>
    </style>
{% endblock %}
