{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <div>
        <h1 class="h1">Exercices {{ exercise.name }}</h1>
        {% if exercise.equipment | length > 0 %}
            <h3 class="h3">Équipement</h3>
            {% for equipment in exercise.equipment %}
                {{ equipment.name }}
                <br>
            {% endfor %}
        {% else %}
            <h4 class="h4">Pas d'équipement nécessaire</h4>
        {% endif %}
        <h3 class="h3">Zone du corps</h3>
        {% for bodyZone in exercise.bodyZone %}
            {{ bodyZone.name }}
            <br>
        {% endfor %}
    </div>
{% endblock %}