{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <div class="h-[90vh] w-full bg-primary p-5 text-secondary">
        <button class="border-2 border-secondary py-1 px-2 text-base cursor-pointer text-secondary transition-transform duration-300 ease-in-out hover:scale-105" onClick="window.history.back();">
            Retour
        </button>
        <div class="flex justify-center mb-2">
            <p class="text-5xl drop-shadow-lg">Exercice: <span class="text-white">{{ exercise.name }}</span></p>
        </div>
        <div class="bg-darkblue p-5 h-screen">
            <div>
                <div class="flex items-center mb-3">
                    <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;
                    <p class="text-3xl">Équipement</p>
                </div>
                {% if exercise.equipment | length > 0 %}
                    <div class="ml-3 flex">
                        {% for equipment in exercise.equipment %}
                            <div class="bg-primary shadow-lg w-[12rem]">
                                <div class="flex items-center justify-center">
                                    <img src="/images/placeholder.png" class="card-img-top" alt="equipment-image">
                                </div>
                                <hr>
                                <div class="flex items-center justify-center">
                                    <h5 class="card-title h5">
                                        {{ equipment.name }}
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-xl ml-3 text-white"><i class="fa-solid fa-child-reaching"></i> Pas d'équipement nécessaire</p>
                {% endif %}
            </div>
            <div class="mt-3">
                <div class="flex items-center mb-3">
                    <i class="fa-solid fa-child"></i>&nbsp;
                    <p class="text-3xl">Zone du corps</p>
                </div>
                <div class="ml-3">
                    {% for bodyZone in exercise.bodyZone %}
                        <div class="bg-primary shadow-lg w-[12rem]">
                            <div class="flex items-center justify-center">
                                <img src="/images/placeholder.png" class="card-img-top" alt="equipment-image">
                            </div>
                            <hr>
                            <div class="flex items-center justify-center">
                                <h5 class="card-title h5">
                                    {{ bodyZone.name }}
                                </h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}