{% extends 'base.html.twig' %}

{% block title %}Mes entraînements{% endblock %}

{% block body %}
    <div class="text-white">
        <div class="flex justify-center mb-3">
            <p class="text-5xl">Mes entrainements</p>
        </div>
        <div class="flex ml-3">
            {% for workout in workouts %}
            <a href="{{ path('show_workout', {'id' : workout.id}) }}">
                <div class="border-2 rounded bg-gray-600 ml-3" style="width: 12rem;">
                    <div class="flex items-center justify-center">
                        <img src="/images/placeholder.png" class="card-img-top" alt="equipment-image">
                    </div>
                    <hr>
                    <div class="flex items-center justify-center">
                        <h5 class="card-title h5">
                            {{ workout.name }}
                        </h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}