{% extends 'base.html.twig' %}

{% block title %}Entrainement{% endblock %}

{% block body %}
    <div class="h-[90vh] w-full bg-primary p-5">
        <button class="border-2 border-secondary py-1 px-2 text-base cursor-pointer text-secondary transition-transform duration-300 ease-in-out hover:scale-105" onClick="window.history.back();">
            Retour
        </button>
        <div class="flex justify-center">
            <h1 class="text-5xl text-secondary">Entrainement : <span class="text-white">{{ workout.name }}</span></h1>
        </div>
        <div>
            <h2 class="text-3xl text-secondary">Exercices :</h2>
        </div>
        <div class="flex bg-darkblue h-screen">
            {% for exercise in exercises %}
                <a href="{{ path("show_exercise", {'id': exercise.id}) }}">
                    <div class="bg-primary m-3 shadow-lg text-secondary w-[12rem] transition-transform duration-300 ease-in-out hover:scale-105">
                        <div class="flex items-center justify-center">
                            <img src="/images/placeholder.png" alt="equipment-image">
                        </div>
                        <hr>
                        <div class="flex items-center justify-center">
                            {{ exercise.name }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

